<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>final-cc-group-project</title>
  <meta charset="utf-8">
  <base href="/" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/scripts/angular-material/angular-material.css">
  <link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/site.css"/>
</head>

<body>
  <div>
    <a ui-sref="Home">Home</a>
  </div>
  <navbar></navbar>
  <ui-view></ui-view>

  <script src="/scripts/angular/angular.min.js"></script>
  <script src="/scripts/angular-aria/angular-aria.js"></script>
  <script src="/scripts/angular-messages/angular-messages.js"></script>
  <script src="/scripts/angular-material/angular-material.js"></script>
  <script src="/scripts/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/scripts/angular-resource/angular-resource.min.js"></script>
  <script src="/scripts/angular-animate/angular-animate.min.js"></script>
  <script src="/scripts/angular-touch/angular-touch.min.js"></script>
  <script src="/scripts/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/Directives/nav.ts"></script>
  <!-- <script src="/js/services.js"></script> -->
  <script src="/js/Controllers/HomeController.js"></script>
  <script src="/js/Controllers/NavController.js"></script>
</body>

</html>
