<div layout-gt-sm="row" layout="column" layout-padding layout-align="center">
  <div layout="column" layout-align="start center" layout-padding>
      <h1>Page Does Not Exist</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus vehicula efficitur. Cras libero est, rhoncus eget bibendum nec, semper eu elit. Nulla tempus tincidunt libero eget sodales. Suspendisse laoreet lacus vel mi vestibulum consectetur. Curabitur vel cursus sem. Vivamus at sapien non nibh ullamcorper laoreet. Suspendisse ullamcorper maximus ullamcorper.
      </p>
  </div>
</div>
