<div layout-gt-sm="row" layout="column" layout-padding layout-align="center">
    <div layout="column" layout-align="start center" layout-padding flex-gt-sm="20" flex-offset-gt-sm="20">
        <h1>About The Team</h1>
        <p>
          Coder Camps Troop Dream Team created Folio for their final group project. This project was completed on May 5, 2016.
        </p>
        * * * *
        <p>
          Forked by @flowstyleliving on May 24, 2016 as FS-oLio.
        </p>
    </div>
    <div layout="column" layout-align="start center" flex-gt-sm="30">
        <ui-gmap-google-map center='vm.center' zoom='vm.zoom'>
          <ui-gmap-markers
                     models="vm.markers"
                     coords="'self'"
                     icon="'icon'"
                     options="'options'">
                 </ui-gmap-markers>
        </ui-gmap-google-map>
    </div>
</div>
