<md-content layout='column' layout-align=" start " md-theme="{{vm.theme}}" md-theme-watch style="height: 100vh;">
    <div layout='column' layout-align="start center" >
        <h3>Let the people know a little about you</h3>
        <p>
            Choose a social media account you'd like to add!
        </p>
    </div>
    <div layout='row' layout-align="center">
        <div class="md-block" >
            <md-button class="md-fab" ng-click="vm.socialHold.provider = 'facebook'; vm.socialHold.template='fa-facebook-square'">
                <i class="fa fa-facebook-square fa-2x" aria-hidden="true"> </i>
            </md-button>
            <md-button class="md-fab" ng-click="vm.socialHold.provider = 'instagram'; vm.socialHold.template='fa-instagram'">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </md-button>
            <md-button class="md-fab" ng-click="vm.socialHold.provider = 'twitter'; vm.socialHold.template='fa-twitter-square'">
                <i class="fa fa-twitter-square fa-2x" aria-hidden="true"> </i>
            </md-button>
            <md-button class="md-fab" ng-click="vm.socialHold.provider = 'github'; vm.socialHold.template='fa-github-square'">
                <i class="fa fa-github-square fa-2x" aria-hidden="true"> </i>
            </md-button>
        </div>
    </div>
    <div layout='row' layout-align="center" ng-show="vm.socialHold.provider">
        <div layout-gt-sm="row" layout-align="center">
        <md-input-container class="md-block">
            <label>Social Provider</label>
            <input type="text" ng-model='vm.socialHold.provider' disabled>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Username</label>
            <input type="text" ng-model='vm.socialHold.url'>
        </md-input-container>
        </div>
        <md-button class="md-primary md-fab md-mini md-raised" ng-click="vm.addSocial()" >
            <i class="fa fa-plus" aria-hidden="true"></i>
        </md-button>
    </div>
    <div layout="row" layout-align="center">
        <div ng-repeat="s in vm.social">
            <md-button class="md-accent md-mini md-hue-2">{{s.provider}}</md-button>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="column" layout-align="center center" >
        <p>
            Profile Picture
        </p>
        <md-button class="md-accent md-hue-2 md-raised" ng-show="!vm.isShow"ng-click="vm.pickFile()">
            <i class="fa fa-user  fa-3x" aria-hidden="true" style="color: white;" ></i>
        </md-button>
            <img ng-show="vm.isShow" ng-src="vm.user.img | fpConvert:{w: 200}"  / >
    </div>
    <div layout='row' layout-align="center" >
        <form name="profile" flex-gt-sm="33" ng-submit="hold">
            <div layout-padding>
                <md-input-container class='md-block' flex-gt-sm>
                    <label class="md-accent">About Me</label>
                    <textarea rows="6" cols="50" name="about" type="text" class="md-accent" required='true' ng-model="vm.user.aboutMe"></textarea>
                    <div ng-messages="userForm.about.$error">
                        <div ng-message="required">*Required</div>
                    </div>
                </md-input-container>
            </div>
        </form>
    </div>
    <div layout="row" layout-align="center">
        <h1>Theme</h1>
    </div>
    <div layout="row" layout-align="center">
        <md-button md-theme="dark-red" class="md-raised md-primary"  ng-click="vm.theme = 'dark-red'">
        </md-button>
        <md-button md-theme="dark-teal"  class="md-raised md-primary" ng-click="vm.theme = 'dark-teal'">
        </md-button>
        <md-button md-theme="dark-purple"  class="md-raised md-primary" ng-click="vm.theme = 'dark-purple'">
        </md-button>
        <md-button md-theme="dark-pink"  class="md-raised md-primary" ng-click="vm.theme = 'dark-pink'">
        </md-button>
        <md-button md-theme="dark-indigo"  class="md-raised md-primary" ng-click="vm.theme = 'dark-indigo'">
        </md-button>
        <md-button md-theme="dark-light-green"  class="md-raised md-primary" ng-click="vm.theme = 'dark-light-green'">
        </md-button>
    </div>
    <div layout="row" layout-align="center">
            <md-button class="md-accent md-raised md-hue-2" ng-click="vm.updateProfile()">Submit</md-button>
    </div>
</md-content>
