<div layout='column'>
    <md-content layout-gt-sm="row" layout-padding layout-align="center" style="margin-top: 10%;">
        <form name="userForm" flex-gt-sm="33" ng-submit="vm.forgot()">
            <!-- EMAIL -->
            <div >
                <md-input-container class='md-block' flex-gt-sm>
                    <label>Email</label>
                    <input name="email" type="email" required='true' ng-model="vm.user.email">
                    <div ng-messages="userForm.email.$error">
                        <div ng-message="required">*Required</div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row"  layout-align="center">
                <md-button ng-disabled="userForm.$invalid" class="md-raised md-accent md-cornered md-padding registerbtn" type="submit" >
                    Request Password Reset
                </md-button>
            </div>
        </form>
    </md-content>
</div>
