<md-content layout="column" layout-align="center center">
    <div ng-repeat="u in vm.users">
        <a ui-sref="User Profile({id: u._id})">
        <md-card style="width: 800px;" class="md-whiteframe-z2" md-theme="{{ u.theme }}" md-theme-watch>
            <md-card-title layout-padding layout-margin>
                <md-card-title-media>
                    <div class="md-media-lg card-media">
                        <img ng-src="{{u.img}}" alt="{{u.img}}">
                    </div>
                </md-card-title-media>
                <md-card-title-text>
                    <span class="md-headline" style="color: white;">{{u.name}}</span>
                    <span class="md-subhead">About Me</span>
                    <span><p style="color: white;">{{u.aboutMe}}</p></span>
                </md-card-title-text>
            </md-card-title>
        </md-card>
        </a>
    </div>
</md-content>
