<div layout="column" layout-align="center center" style="margin-top: 50px;">
    <md-button class="md-accent md-hue-2 md-raised">
        <i class="fa fa-plus" aria-hidden="true" style="color: white;" ng-click="vm.pickFile()"></i>
    </md-button>
  </div>

<table>
  <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>Make Default</th>
      <th>Delete</th>
  </tr>
  <tr ng-repeat="p in vm.item.images">
    <td><img ng-src="{{p.url | fpConvert:{w: 200} }}" alt="{{p.filename}}" /></td>
    <td><input ng-model="p.caption"></td>
    <td><input type="radio" name="main" ng-model="p.mainOrNah"></td>
    <td><md-button ng-click="vm.removeFilePicker(p)">Delete</md-button></td>
  </tr>
</table>

    <!-- <div ng-repeat="p in vm.item.images" style="margin-top: 10px;">
        <img ng-src="{{p.url | fpConvert:{w: 200} }}" alt="{{p.filename}}" />
        <br />
        <md-input-container flex>
            <label>Caption</label>
            <input ng-model="p.caption">
        </md-input-container>
        <div flex>
            <label>Hero Image</label>
            <input type="radio" ng-model="p.mainOrNah">
        </div>
        <md-button ng-click="vm.removeFilePicker(p)">Delete</md-button>
    </div> -->
    <md-button class="md-accent md-raised md-cornered md-hue-2" ng-click="vm.update2()" flex>
        Submit
    </md-button>
<md-button class="md-accent md-raised md-cornered md-hue-2" ui-sref="ItemUpdate({id:vm.item._id})" flex>
    Cancel
</md-button>
