<div layout="row" layout-align="center center">
  <h1>{{vm.item.title}}</h1>

</div>
<div layout="row" layout-align="center center">

  <p>
    <em>
      {{vm.item.description}}
    </em>
  </p>
</div>
<div class="container slider" ng-show="(vm.item.images).length > 0">
  <img ng-repeat="c in vm.item.images" class="slide slide-animation nonDraggableImage img-center"
          ng-swipe-right="vm.nextSlide()" ng-swipe-left="vm.prevSlide()"
          ng-hide="!vm.isCurrentSlide($index)" ng-src="{{c.url}}" width="auto" height="400px" ng-click="vm.showAdvanced(c)" ng-attr-title="{{c.caption}}">
     <a class="arrow prev" href="#" ng-click="vm.nextSlide()"></a>
     <a class="arrow next" href="#" ng-click="vm.prevSlide()"></a>
     <nav class="nav">
         <div class="wrapper">
             <ul class="dots">
                 <li class="dot" ng-repeat="c in vm.item.images">
                     <a href="#" ng-class="{'active':vm.isCurrentSlide($index)}"
                        ng-click="vm.setCurrentSlide($index);"></a></li>
             </ul>
         </div>
     </nav>
</div>

<div layout="row" layout-align="center center">
  <a ng-href="{{vm.item.projectURL}}" target="_blank">{{vm.item.projectURL}}</a>

</div>

<div layout="column" layout-align="center center">
  <br />
  <strong>completed on: </strong>{{vm.item.dateCompleted}}
  <br /><br />
  <strong>category: </strong>{{vm.item.category}}
</div>

<br />
<md-divider></md-divider>


<!-- COMMENTS -->
<div layout="row" layout-align="center center" layout-margin ng-show="global.status._id">
    <md-button flex-gt-sm="20" flex ng-show="vm.isShow;" ng-click="addComment = true; vm.isShow=false;" class="md-accent md-hue-3 md-raised">
        Add Comment
    </md-button>
    <form layout="column" ng-show="addComment" ng-submit="vm.createComment(); addComment =false; vm.isShow=true;" flex-gt-sm="20" flex>
        <md-input-container>
            <label>Comment</label>
            <input ng-model="vm.comment.message">
        </md-input-container>
        <md-button type="submit" class="md-raised md-accent md-hue-3">
            Submit
        </md-button>
    </form>
</div>

<div layout="row" layout-margin layout-align="center start">
    <md-list flex-gt-sm="60" flex>
        <md-subheader class="md-no-sticky">Comments</md-subheader>
        <md-list-item class="md-2-line" ng-repeat="c in vm.item.comments" ng-click="null">
            <img ng-src="{{c.user.img}}" class="md-avatar" alt="{{c.user.name}}" />
            <div class="md-list-item-text" layout="column" flex>
                <h3>{{ c.user.name}}</h3>
                <h4>{{ c.message }}</h4>
                <p>{{ c.datePosted | date: short }}</p>
            </div>
            <i class="fa fa-trash-o fa-2x" aria-hidden="true" style="color: red" ng-click="vm.removeComment(c)" ng-if="c.user._id === global.status._id"></i>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</div>
