<div layout="column" layout-align="center center" style="margin-top: 50px;">
    <md-button class="md-accent md-hue-2 md-raised">
        <i class="fa fa-upload fa-5x" aria-hidden="true" style="color: white;" ng-click="vm.pickFile()"></i>
    </md-button>
    <div ng-repeat="p in vm.file" style="margin-top: 10px;">
        <img ng-src="{{p.url | fpConvert:{w: 200} }}" alt="{{p.filename}}" />
        <br />
        <md-input-container flex>
            <label>Caption</label>
            <input ng-model="p.caption">
        </md-input-container>
        <div flex>
            <label>Hero Image</label>
            <md-checkbox ng-model="p.mainOrNah"></md-checkbox>
        </div>
    </div>
</div>
<div layout="column" layout-align="center center" style="margin-top: 50px;">
    <form name="projectForm" style="width: 600px;">
        <md-input-container class="md-block">
            <label>Title</label>
            <input required="true" ng-model="vm.item.title">
        </md-input-container>
        <md-input-container class="md-block">
            <label>description</label>
            <input ng-model="vm.item.description">
        </md-input-container>
        <md-input-container class="md-block">
            <label>project url</label>
            <input ng-model="vm.item.projectURL">
        </md-input-container>
        <md-input-container class="md-block">
            <label>dateCompleted</label>
            <input type="date" ng-model="vm.item.dateCompleted">
        </md-input-container>
        <md-input-container class="md-block">
            <label>category</label>
            <input ng-model="vm.item.category">
        </md-input-container>
    </form>
    <md-button class="md-accent md-raised md-cornered md-hue-2" ng-click="vm.create()" flex>
        Submit
    </md-button>
</div>
