<div layout="column" layout-align="center center" style="margin-top: 50px;">
    <form name="projectForm" style="width: 600px;">
        <md-input-container class="md-block">
            <label>title</label>
            <input required="true" ng-model="vm.item.title">
        </md-input-container>
        <md-input-container class="md-block">
            <label>description</label>
            <input ng-model="vm.item.description">
        </md-input-container>
        <md-input-container class="md-block">
            <label>project url</label>
            <input ng-model="vm.item.projectURL">
        </md-input-container>
        <md-input-container class="md-block">
            <label>date completed</label>
            <input type="date" ng-model="vm.item.dateCompleted">
        </md-input-container>
        <md-input-container class="md-block">
            <label>category</label>
            <input ng-model="vm.item.category">
        </md-input-container>
    </form>
    <md-button class="md-accent md-raised md-cornered md-hue-2" ng-click="vm.update()" flex>
        Submit
    </md-button>
    <md-button class="md-accent md-raised md-cornered md-hue-2" ui-sref="Item({id:vm.item._id})" flex>
        Cancel
    </md-button>
    <md-button class="md-accent md-raised md-cornered md-hue-2" ng-click="vm.remove()" flex>
        Remove from Portfolio
    </md-button>
</div>
