<h1>Item Create!</h1>
<br>
<div>
  <form class="container" ng-submit="vm.create()">
    <br />
    <div>
      Title
      <br />
      <input type="text" ng-model="vm.item.title" />
      <br />
      Description
      <br />
      <textarea ng-model="vm.item.description"></textarea>
      <br />
      dateCompleted
      <br />
      <input type="text" ng-model="vm.item.dateCompleted" />
      <br />
      Notes
      <br />
      <input type="text" ng-model="vm.item.notes" />
      <br />
      Category
      <br />
      <input type="text" ng-model="vm.item.category" />
      <br />
      <br />
    </div>
    <button class="btn-success" type="submit" />Submit
  </form>
</div>
<br /><br />

<button ng-click="vm.pickFile()">Upload</button>
<div ng-repeat="p in vm.file">
<h2>{{p.filename }}</h2>
<img ng-src="{{p.url | fpConvert:{w: 400} }}" alt="{{p.filename}}" />
<input type="text" ng-model="p.caption">
<input type="checkbox" clicked="true" ng-model="p.mainOrNah">
<!-- <img ng-src="{{vm.file.url | fpConvert:{w: 400} }}" alt="{{vm.file.filename}}" /> -->
</div>
