<div>
    <md-content>
        <md-toolbar class="md-hue-2 md-whiteframe-z2">
            <div class="md-toolbar-tools">
                <a ui-sref="Home" class="home_link">
                    <h1 layout="row" style="font-family: 'Pacifico', cursive; font-size: 30px;">Folio</h1>
                </a>
                <span flex></span>
                <md-menu-bar>
                    <md-menu offset="15">
                        <md-button ng-click="$mdOpenMenu()" class="md-icon-button md-accent" aria-label="Open some menu">
                            <md-icon md-menu-origin md-font-icon="material icon">menu</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <div ng-show="!nav.status._id">
                                <a ui-sref="Login">
                                    <md-menu-item>
                                        <md-button  aria-label="Login" style="text-align: center;">
                                            Login
                                        </md-button>
                                    </md-menu-item>
                                </a>
                            </div>
                            <div ng-show="nav.status._id">
                                <md-menu-item>
                                    <md-button aria-label="Logout" style="text-align: center;" ng-click="nav.logout()">
                                        Log Out
                                    </md-button>
                                </md-menu-item>
                                <menudivider></menudivider>
                                <a ui-sref="User Profile({email: nav.status.email})" class="menuLink">
                                <md-menu-item>
                                    <md-button aria-label="User " style="text-align: center;">
                                        User Profile
                                    </md-button>
                                </md-menu-item>
                            </a>
                                <menudivider></menudivider>
                                <a ui-sref="Create Profile" class="menuLink">
                                <md-menu-item>
                                    <md-button aria-label="User" style="text-align: center;">
                                        User Settings
                                    </md-button>
                                </md-menu-item>
                            </a>
                                <menudivider></menudivider>
                                <a ui-sref="itemCreate" class="menuLink">
                                <md-menu-item>
                                    <md-button aria-label="User" style="text-align: center;">
                                        Create Item
                                    </md-button>
                                </md-menu-item>
                                </a>
                                <menudivider></menudivider>
                            </div>
                            <div>
                              <md-menu-item>
                              </md-menu-item>
                              <a ui-sref="AboutFolio" class="menuLink">
                              <md-menu-item>
                                <md-button aria-label="AboutFolio" style="text-align: center;">
                                  About Folio
                                </md-button>
                              </md-menu-item>
                              </a>
                              <menudivider></menudivider>
                            </div>
                        </md-menu-content>
                    </md-menu>
                </md-menu-bar>
            </div>
        </md-toolbar>
    </md-content>
</div>
