<md-content layout="row"  layout-align="center center" layout-margin layout-padding>
    <md-list flex flex-gt-sm="80" flex-gt-md="60" >
       <md-list-item class="md-3-line" ng-repeat="i in vm.user.items">
           <img ng-src="{{i.images[0].url}}" class="md-avatar" alt="{{i.filename}}" style="border-radius: 0"/>
         <div class="md-list-item-text" layout="column"  layout-gt-xs="row">
           <h3 flex flex-gt-sm="33" flex-sm="20">{{ i.title }}</h3>
           <h4 flex flex-gt-sm="33">{{ i.category }}</h4>
           <p flex flex-gt-sm="33" >{{ i.datePosted | date: short }}</p>
         </div>
         <md-divider ></md-divider>
       </md-list-item>
   </md-list>
</md-content>
