<h1>Change Password</h1>

<form name="resetForm" ng-submit="vm.resetPassword()">
  <input type="password" name="password" ng-model="vm.user.password" required="true">
  <div ng-messages="resetForm.password.$error">
      <div ng-message="required">*Required</div>
  </div>
  <input type="password" name="password_c" ng-model="vm.user.password_c" required="true" ng-pattern="vm.user.password">
  <div ng-messages="resetForm.password_c.$error">
      <div ng-message="required">*Required</div>
  </div>
  <div ng-messages="resetForm.password.$error" ng-show="!resetForm.password_c.$valid" ng-hide="!vm.user.password">
    <div ng-messge="required">
      ***Your passwords do not match.***
    </div>
  </div>
  <button type="submit">submit</button>
</form>
