<div layout='column'>
    <md-content layout-gt-sm="row" layout-padding layout-align="center" style="margin-top: 10%;">
        <form name="userForm" flex-gt-sm="33" ng-submit="vm.resetPassword()">
            <!-- RESET TOKEN -->
            <div >
                <md-input-container class='md-block' flex-gt-sm>
                    <label>Reset Token</label>
                    <input name="rest_token" type="text" required='true' ng-model="vm.user.token">
                    <div ng-messages="userForm.reset_token.$error">
                        <div ng-message="required">*Required</div>
                    </div>
                </md-input-container>
            </div>
            <!-- PASSWORD -->
            <div>
                <md-input-container class='md-block' flex-gt-sm>
                    <label>New Password</label>
                    <input name="password" type="password"  required='true' ng-model="vm.user.password">
                    <div ng-messages="userForm.password.$error">
                        <div ng-message="required">*Required</div>
                    </div>
                </md-input-container>
            </div>
            <div>
                <md-input-container class='md-block' flex-gt-sm>
                    <label>Confirm Password</label>
                    <input name="password_c" type="password"  required='true' ng-model="vm.user.password_c" ng-pattern="vm.user.password">
                    <div ng-messages="userForm.password_c.$error">
                        <div ng-message="required">*Required</div>
                    </div>
                    <div ng-messages="userForm.password.$error" ng-show="!userForm.password_c.$valid" ng-hide="!vm.user.password">
                      <div ng-messge="required">
                        ***Your passwords do not match.***
                      </div>
                    </div>
                </md-input-container>
            </div>
            <div layout="row"  layout-align="center">
                <md-button ng-disabled="userForm.$invalid" class="md-raised md-accent md-cornered md-padding registerbtn" type="submit" >
                    Submit
                </md-button>
            </div>
        </form>
    </md-content>
</div>
